<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/tab3"></ion-back-button>
    </ion-buttons>
    <ion-title>About</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>About the App</ion-card-subtitle>
      <ion-card-title>Travel Planner</ion-card-title>
    </ion-card-header>

    <ion-card-content style="text-align: justify;">
      &nbsp; &nbsp; &nbsp;
      Travel planner apps are popular because they have proven to be very useful
      in planning itineraries quickly and easily. They make sure your travel ideas
      aren’t forgotten, even if your brain does. Good travel planner apps are meant
      to simplify the planning process, help you organize details with minimal effort,
      so you can spend less time organizing and more time looking forward to your trip!
      <br>
      &nbsp; &nbsp; &nbsp;
      This app will help you organize the perfect types of vacation you need.
      All you have to do is enter information such as what types of traveler, 
      you are for your ideal vacation, and the app 
      will suggest the best vacation trip for you together with the details for 
      pros and cons you may encounter.
        </ion-card-content>
  </ion-card>

</ion-content>
