

  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Travel Planner</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content [fullscreen]="true">



    <ion-card>
      <ion-item>
        <ion-icon name="footsteps-outline"></ion-icon>
        <ion-label>Types of Travelers</ion-label>
      </ion-item>
    </ion-card>

    <ion-card>
      <ion-card-content>
        <ion-button (click)="myAction()" href="/solo" fill="outline" slot="start" expand="block">Solo Traveler</ion-button>
      </ion-card-content>
    


      <ion-card-content>
        <ion-button (click)="myAction()" href="/tab5" fill="outline" slot="start" expand="block">Couples Travelers</ion-button>
      </ion-card-content>
  

  
      <ion-card-content>
        <ion-button (click)="myAction()" href="/tab5" fill="outline" slot="start" expand="block">Friends Travelers</ion-button>
      </ion-card-content>


 
      <ion-card-content>
        <ion-button (click)="myAction()" href="/solo" fill="outline" slot="start" expand="block">Family Travelers</ion-button>
      </ion-card-content>
   
    
     
      <ion-card-content>
        <ion-button (click)="myAction()" href="/seniors" fill="outline" slot="start" expand="block">Seniors Travelers</ion-button>
      </ion-card-content>
    </ion-card> 

      
      
  


</ion-content>

