
    <ion-header collapse="condense">
      <ion-toolbar>
        <img alt="logo" height="50%" width="50%"   src="/assets/logo.png" >      
      </ion-toolbar>
    </ion-header>

    <ion-content [fullscreen]="true">
    <ion-card>
      <ion-item>
        <ion-card-title>
          <img src="/assets/logo1.jpg" alt="">
          <ion-card-subtitle>
            <h1>Welcome !! <br>Let us travel to see the beautiful places In the World</h1>
          </ion-card-subtitle>
        </ion-card-title>
      </ion-item>

      <ion-card-content>
        <p>&nbsp; &nbsp;&nbsp; There's a travel planning for every kind of traveler, whether you need to build an itinerary, plan a road trip, or coordinate your next vacation with friends. We've got you covered.</p>
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-content>
        <h1>Which type of traveler are you?</h1><br><br><br>
        <p>&nbsp; &nbsp;&nbsp; First, let’s figure out what type of traveler you are.  Keep in mind you can be a mix of many different traveler types but your current travel desires will dictate the type of traveler you are.</p>
      </ion-card-content>
    </ion-card>
   

      <ion-slides pager="true">
          <ion-slide>
            <ion-card>
                <ion-card-title>
                  <ion-card-header>
                    <strong>Solo Traveler</strong>
                    </ion-card-header> 
                </ion-card-title> 
              <ion-card-content style="text-align: justify;">
                  &nbsp;&nbsp;&nbsp;
                  <p>Traveling solo can be intimidating at first but an experience you likely won’t regret once endured.  Traveling alone can get you out of your comfort zone and force you to meet new people and experience new things.  You can learn a lot about yourself and gain more appreciation for others.
                  <br><br>
                   <strong>Tips on how to have a successful solo vacation:</strong> 
                  <br><br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                  Make sure you let others know of your travel adventures and when to expect to hear from you.
                  Ensure you have the necessary equipment for your travel.
                  </p><br><br><br><br><br><br><br><br><br>
                  
              </ion-card-content>
            </ion-card>
          </ion-slide>    

            <ion-slide>
              <ion-card id="slide">
                <ion-card-title>
                  <ion-card-header>
                    <strong>Traveling as a Couple</strong> 
                  </ion-card-header>
                </ion-card-title> 
              <ion-card-content style="text-align: justify;">
                  &nbsp;&nbsp;&nbsp;
                  <p>Whether you’re honeymooning, renewing your vows, or simply desiring a romantic weekend getaway, a vacation as a couple can be the best time of your life.  However, planning a vacation with a partner can be both exciting and stressful.  
                  <br><br>
                  <strong>Tips on how to have a successful vacation with your partner:</strong>
                  <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                  Listen to each other and ensure you’re checking off activities that each of you want to do. Be present.  Do not constantly be on the phone with work, your friends, checking Facebook, etc. Experience something new and get outside your comfort zone.  This doesn’t have to be anything crazy, it may be as simple as going to a new restaurant to try food you never tasted.  But the point is, a new experience for both of you creates memories that can last a lifetime.    </p>   <br><br><br>         
                </ion-card-content>
              </ion-card>
            </ion-slide>

            <ion-slide>
              <ion-card>
                <ion-card-title>
                  <ion-card-header>
                    <strong>Traveling with Friends</strong> 
                  </ion-card-header>
                </ion-card-title> 
              <ion-card-content style="text-align: justify;">
                  &nbsp;&nbsp;&nbsp;
                  <p>Traveling with friends on a “girls only” or “guys only” trip can be exciting and effortless.  It’s always good to connect with friends at least once a year as it gets more and more challenging to get together as you get older.  We often find if it’s not planned in advance there’s a less likelihood that the event will fall through so be pro-active and rally up the troops in advance!                  
                  <br><br>
                  <strong>Tips on how to have a successful trip with friends:</strong>         
                  <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                  Be as transparent as possible and set your expectations before the vacation.
                  Talk about your priorities. Talk financials and understand how much money everyone is comfortable spending. If someone is trying to relax every day while another person is trying to go on every hike than there’s a complete gap in expectations, which is the last thing you want when spending quality time with friends!
                 </p><br><br><br>
                </ion-card-content>
              </ion-card>
            </ion-slide>

            <ion-slide>
              <ion-card>
                <ion-card-title>
                  <ion-card-header>
                    <strong>Family (Traveling with Children)</strong> 
                  </ion-card-header>
                </ion-card-title> 
              <ion-card-content style="text-align: justify;">
                  &nbsp;&nbsp;&nbsp;
                  <p>Allow your children to be a part of the travel planning, even if you already have it planned out and you know what they like to do or where they want to go.  Giving your child a voice allows them to start engaging their creative engine and gets them excited about traveling!
                  <br><br>
                  <strong>Here are some tips we’ve received from others:</strong>
                  <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                  Make sure you look up activities in advance.  It’s never a good idea to communicate an activity with poor planning and then realize the event/activity is sold out. Consider locations with kid-friendly activities, daycare, kid’s camp, and other activities that let you have a break and relax while they’re having fun.</p><br><br><br><br><br><br><br>
                </ion-card-content>
              </ion-card>
            </ion-slide>

            <ion-slide>
              <ion-card>
                <ion-card-title>
                  <ion-card-header>
                    <strong>Senior Travelers</strong> 
                  </ion-card-header>
                </ion-card-title> 
              <ion-card-content style="text-align: justify;">
                  &nbsp;&nbsp;&nbsp;
                    <p>Retirement is a perfect time to get out on the road and explore, there’s 
                    no age limit for travel, rather as long as you stay healthy you can keep 
                    traveling!
                  <br><br>
                    <strong>Here are some tips for seniors planning a vacation:</strong>
                  <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    The vacation goal is all about convenience and location.  You want to find 
                    hotels that are close to activities you want to experience so you don’t have 
                    to worry about getting to and from your accommodations. Set aside plenty of 
                    time for relaxation and recuperation.  You do not need to jam-pack your days 
                    from sunrise to sunset, set aside a few hours during the day to slow it down. 
                    Consider tours and organized activities to take the stress of planning off your
                    back. Take advantage of senior discounts on any tours, museums, etc. to keep your expenses down! </p><br><br><br><br><br>
                </ion-card-content>
              </ion-card>
            </ion-slide>
      </ion-slides>  




    






</ion-content>
